.excalidraw-modal-container {
    pointer-events: all;

    .Island > div:not(:last-child) {
        display: none;
    }
}

.excalidraw-container {
    .Island > div:not(:last-child) {
        display: none;
    }

    .Island > button {
        display: none !important;
    }
}

.sidebar-trigger {
    display: none !important;
}

[aria-label="Create link"] {
    display: none !important;
}