.moki-full-editor {
    .ProseMirror {
        hr {
            border: none;
            border-top: 1px solid rgba(61, 37, 20, .08);
            cursor: pointer;
            margin: 2rem 0;
        }
    }
}