.moki-full-editor {
    .ProseMirror {
        .moki-editor-order-list {
            list-style: decimal;

            ol {
                margin-left: 10px;
            }
        }

        .moki-editor-bullet-list {
            list-style: disc;

            ul {
                margin-left: 10px;
            }
        }
    }
}
