@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./styles/full-editor.css";
@import "./styles/table.css";


@layer base {
    html, body , #root {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
     * {
         box-sizing: border-box;
     }
}
